/* {
  border: 2px solid red;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

#nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
}

#header-img {
    width: 20px;
    height: auto;
}

.logo-name {
  font-family: Metal Mania, sans-serif;
}

.nav-left {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.nav-right {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  margin-left: 0;
}

@media (max-width: 600px) {
  .nav-right {
    flex-wrap: wrap;
  }
}

ul .nav-right {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nav-right li {
  text-decoration: none;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

a:hover {
  color: #00008B;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

#email {
  width: 100%;
  height: 1.25em;
}

#submit, button {
    background-color: black;
    color: white;
    font-weight: 800;
    padding: 5px 20px;
    border-radius: 4px;
    border: none;
}

#submit:hover, button:hover {
  background-color: #00008B
}

.icon {
    max-width: 70px;
    height: auto;
    flex-shrink: 0;
}

.about-container {
    display: flex;
    gap: 40px;
    margin: 20px;
    padding: 20px 0;
}

.about-text li {
  font-weight: 800;
  font-size: 22px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

iframe {
  padding: 20px;
}

ol li {
  list-style-type: none;
  margin: 15px 0;
  padding: none;
}

#products {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.product-container {
  border: 2px solid black;
  text-align: center;
  max-width: 300px;
  padding-bottom: 20px;
}

.head {
  background-color: #ddd;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1em;
}

.product-container ol {
  max-width: 80%;
  margin-left: 0;
}